<!DOCTYPE html>
<html style="font-size: 7.09896px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>徐小咖个人网站</title>
    <meta name="keywords" content="玫瑰币,玫瑰,虚拟币">
    <meta name="description" content="徐小咖，原名徐坤，天风证券资深分析师，金牛座，锡伯族，中国人民大学经济学硕士。2016年7月发行了中国首款以个人品牌背书的数字资产——小咖币 (XKC)">
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="徐小咖个人网站">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <meta name="chromesniffer" id="chromesniffer_meta" content="{&quot;jQuery&quot;:&quot;1.9.1&quot;}">
    <script type="text/javascript" src="chrome-extension://fhhdlnnepfjhlhilgmeepgkhjmhhhjkh/js/detector.js"></script>
</head>
<body>
<div class="g-doc">
    <div class="g-hd">

    </div>
    <div class="g-bd">
        <div class="g-mn">
            <div class="horizontally vertical_center hd_box">
                <span class="hd_title">人生到目前</span>
                <span class="hd_title">你为之努力过的梦想有哪些？</span>
            </div>
        </div>
        <div class="g-mns"></div>
        <div class="g-sd greet_box" style="overflow: hidden; max-height: 1363px;">
            <div class="center greet_box" style="max-height: 1363px;">
                <div class="greet">
                    <h3>你好,你<span>不认识我</span></h3>
                    <h3>五分钟后,也许你会<span>记住我</span></h3>
                </div>
                <div style="height: 80%;width:100% ">
                    <div class="name" style="height: 143px; line-height: 130px;">徐小咖</div>
                    <div class="name_greet" style="line-height: 47.6667px;"><p>我是徐小咖</p><p>现在</p><p>我要把自己说给你听</p></div>
                    <div class="circular pt1">
                        <img src="/img/circular.png" alt="" class="pcircular">
                        <img src="/img/pt1.png" alt="" class="cpt1">
                    </div>
                </div>

            </div>
        </div>
        <div class="album">
            <div class="album1 alb">
                <div class="album_big"><img src="/img/al1.png" alt=""></div>
                <div class="album5"><div class="mask"><img src="/img/zz1.png" alt=""></div><img src="/img/al6.png" alt=""></div>
                <div class="album6"><div class="mask"><img src="/img/zz2.png" alt=""></div><img src="/img/al7.png" alt=""></div>
            </div><div class="album7 alb">
            <div class="album22"><div class="mask"><img src="/img/zz3.png" alt=""></div><img src="/img/al2.png" alt=""></div>
            <div class="album22"><div class="mask"><img src="/img/zz4.png" alt=""></div><img src="/img/al3.png" alt=""></div>
            <div class="album_big"><img src="/img/al8.png" alt=""></div>
        </div><div class="album3 alb">
            <div class="album_big"><img src="/img/al4.png" alt=""></div>
            <div class="album2"><div class="mask"><img src="/img/zz5.png" alt=""></div><img src="/img/al9.png" alt=""></div>
            <div class="album21"><div class="mask"><img src="/img/zz6.png" alt=""></div><img src="/img/al10.png" alt=""></div>
        </div><div class="album4 alb">
            <div class="album_big album0"><div class="mask"><img src="/img/zz7.png" alt=""></div><img src="/img/al5.png" alt=""></div>
            <div class="album_big"><img src="/img/al11.png" alt=""></div>
        </div>
        </div>
        <div class="g-sd g-sd2">
            <div class="center jianjie">
                <img src="/img/xibozu.png" alt="">
            </div>
        </div>
        <div class="g-sd g-sd2">
            <div class="center jianjie">
                <img src="/img/xingzuo.png" alt="">
            </div>
        </div>
        <div class="g-sd g-sd2">
            <div class="center jianjie">
                <img src="/img/xueli.png" alt="">
            </div>
        </div>
        <div class="g-sd g-sd2 zonghe">
            <div class="center jianjie">
                <img src="/img/zonghe.png" alt="">
            </div>
        </div>
        <div class="full_screen">
            <div class="fs1"><img src="/img/full1.jpg" alt=""><img src="/img/full2.jpg" alt=""></div>
        </div>
        <div class="full_screen">
            <div class="fs2"><img src="/img/full3.jpg" alt=""><img src="/img/full4.jpg" alt=""></div>
        </div>
        <div class="full_screen">
            <div class="fs3"><img src="/img/full5.jpg" alt=""><img src="/img/full6.jpg" alt=""></div>
        </div>
        <div class="full_screen xiaokabi_box">
            <div>
                <!--<p class="huobi">一款以个人品牌背书的数字资产</p>-->
                <!--<p class="huobi2">把我碎片化后放到你手中</p>-->
                <div class="title_box"><img src="/img/title1.jpg" alt=""></div>
                <div class="hx"></div>
                <div class="hx"></div>
            </div>
            <div class="xkb">
                <a href="" target="_blank">
                    <img src="/img/xiaokabi.png" alt=""></a>
            </div>
        </div>
        <div class="full_screen xiaokabi_box xks">
            <div>
                <!--<p class="huobi">此外，我还想开一档节目  </p>-->
                <div class="title_box"><img src="/img/title2.jpg" alt=""></div>
                <div class="hx"></div>
                <div class="hx"></div>
            </div>
            <div class="xkb">
                <a href=""><img src="/img/xiaokashuo.png" alt=""></a>
            </div>
            <div class="jiabing">
                <h4>即将参与《小咖说》的嘉宾</h4>
                <div class="jb_img">
                    <a href="http://www.a-li.com.cn/home/" target="_blank"><img src="/img/jb1.jpg" alt=""></a>
                    <a href="http://www.microdreams.com/" target="_blank"><img src="/img/jb2.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="center">
                <div class="form_left" style="margin-top: 2%;">
                    <div class="circular baoming" style="height: 191px; line-height: 191px;">
                        <p>嘉宾报名</p>
                    </div>
                </div>
                <div class="form_right">
                    <form method="post">
                        <div class="inputbox">
                            <span class="form_title">CEO姓名：</span>
                            <input type="text" required="" id="name" value="">
                        </div>
                        <div class="inputbox">
                            <span class="form_title">公司名称：</span>
                            <input type="text" required="" id="gs" value="">
                        </div>
                        <div class="inputbox">
                            <span class="form_title">联系电话：</span>
                            <input type="tel" required="" pattern="1[34578][0-9]{9}" id="tel" value="">
                        </div>
                        <div class="inputbox">
                            <span class="form_title">联系邮箱：</span>
                            <input type="email" required="" id="email" value="">
                        </div>
                        <div class="inputbox submitbox">
                            <span class="form_title alert"></span>
                            <input type="button" value="提交" class="submit">
                        </div>
                    </form>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="ft_title" style="padidng-bottom:10%;padding-top:0">
            <p>我是<span>徐小咖</span></p>
            <p>现在你已经了解了我的<span>过去</span></p>
            <p><span>未来</span>我可以陪你走下去吗</p>
        </div>

        <div class="g-ft">
            <div class="center">
                <p class="shangwu">商务合作</p>
                <div class="sw">
                    <div class="swleft"><img src="/img/youjian.png" alt="">  bd@whgtech.com </div>
                    <div class="swright"><img src="/img/dianhua.png" alt="">  18359188931 </div>
                </div>
            </div>
            <div class="center ft_center">
                <li>
                    <div class="zhezhao">
                        <img src="/img/wx.png" alt="">
                    </div>
                    <img src="/img/weixin.png" alt="">
                </li>
                <li>
                    <div class="zhezhao">
                        <img src="/img/erweima.png" alt="">
                    </div>
                    <img src="/img/weibo.png" alt="">
                </li>
                <li>
                    <div class="zhezhao">
                        <img src="/img/zbhao.png" alt="">
                    </div>
                    <img src="/img/zhibo.png" alt="">
                </li>
            </div>
        </div>
        <div class="g-ft bah">
            <p>商务合作：bd@whgtech.com </p>
            <p>Copyright ©北京无花果科技咨询有限公司 All Rights Reserved 京ICP备15048912号</p>
        </div>
    </div>
</div>


<script src="/js/index.js"></script>
</body>
</html>